@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #020617;
  /* Slate 950 */
  --foreground: #e2e8f0;
  /* Slate 200 */

  --font-inter: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-gradient-xy {
    animation: gradient-xy 15s ease infinite;
  }

  .animate-ken-burns {
    animation: ken-burns 20s ease-out infinite alternate;
  }
}

@keyframes gradient-xy {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes ken-burns {
  0% {
    transform: scale(1) translate(0, 0);
  }

  100% {
    transform: scale(1.1) translate(-1%, -1%);
  }
}